<!doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title> user list </title>
</head>
<body>

<div layout:fragment="content">
    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
        <div class="container-xl">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8"><h2>Users<b>Details</b></h2></div>
                            <div class="col-sm-4">

                                <form th:action="@{/user/all}">
                                    <div>
                                        <label for="name">Subject: </label>
                                        <input type="text" th:name="searchResult" id="name" required="required">
                                        <input type="submit" value="Search">
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name <i class="fa fa-sort"></i></th>
                            <th>Role</th>
                            <th>Status</th>
                            <th sec:authorize="hasAuthority('ADMIN')">Actions</th>
                        </tr>
                        </thead>
                        <script type="text/javascript">
                            $(function () {
                                $('table td:first-child').each(function (i) {
                                    $(this).html(i + 1);
                                });
                                $('table tr:last-child td:first-child').text($('table tr').length - 1);
                            });
                        </script>
                        <tbody>
                        <div th:each="user : ${userList.content}">
                            <tr>
                                <td>1</td>
                                <td th:text="${user.username}">Thomas Hardy</td>
                                <td th:text="${user.roles}">user</td>
                                <td th:text="${user.userStatus}"></td>
                                <td sec:authorize="hasAuthority('ADMIN')">
                                    <form th:method="delete" th:action="@{delete/{id}(id=${user.id})}">
                                        <input type="submit" value="delete!"/>
                                    </form>
                                    <form th:action="@{/user/{id}(id=${user.id})}">
                                        <input type="submit" value="update"/>
                                    </form>
                                </td>
                            </tr>
                        </div>

                        </tbody>
                    </table>
                    <div class="clearfix">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <li th:if="${userList.last}" class="page-item" >
                                    <a class="page-link" th:href="@{/user/all(page=${userList.number-1})}" tabindex="-1" >prev</a>
                                </li>
                                <th:block th:each="i: ${#numbers.sequence(0, userList.totalPages - 1)}">
                                    <li class="page-item active" th:if="${userList.number == i}" >
                                        <span class="page-link">[[${i}+1]]</span>
                                    </li>
                                    <li th:unless="${userList.number == i}">
                                        <a class="page-link" th:href="@{/user/all(page=${i})}">[[${i}+1]]</a>
                                    </li>
                                </th:block>
                                <li class="page-item" th:if="${userList.first}">
                                    <a class="page-link" th:href="@{/user/all(page=${userList.number+1})}" >next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>
</body>
